
<section style='width: 100%; height: 100vh; display: flex; margin-top: 100px;'>
<div style='width: 50%; height: 100vh;'>
<h1 ng-click='addFavs("cake")'>CAKE</h1>
<h1 ng-click='addFavs("pie")'>PIE</h1>
<h1 ng-click='addFavs("ice cream")'>ICE CREAM</h1>
<h1 ng-click='addFavs("cheesecake")'>CHEESECAKE</h1>
</div>

<div style='width: 50%; height: 100vh;'>
    <h1>Your Favorites:</h1>
    <div ng-repeat='fav in userFavorites.favorites' style='padding: 10px 10px; background: blue; margin-bottom: 10px; width: 100px; display: flex;' ng-click='deleteFav(fav.favorite)'>
        <p>{{fav.favorite}}</p>
    </div>
</div>

</section>